<p>
  pipe works!
</p>

<!-- <h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | slice:10}}</h2>
<h2>{{name | slice:2:20}}</h2>
<h2>{{person | json}}</h2> -->

<!-- <h2> {{22.8796 | number : '1.2'}} </h2>

<h2> {{22.8791 | number : '1.2-3'}} </h2>
<h2> {{22.8796 | number : '1.2-3'}} </h2>
<h2> {{22.8796 | number : '3.2-3'}} </h2>

<h2> {{0.25 | percent}} </h2>
<h2> {{0.085 | percent}} </h2>
<h2> {{0.091 | percent :'1.1'}} </h2>
<h2> {{0.091 | percent :'1.2'}} </h2>
<h2> {{mynumber |  percent :'1.2' }} </h2> -->

<h2> {{arr | slice : 1: 5 }} </h2>

<h2> {{0.25 | currency}} </h2>
<h2> {{0.25 | currency : 'INR'}} </h2>

<h2>{{25 | currency :'INR':'code'}} </h2>
<h2>{{0.25 | currency :'GBP'}} </h2>

<h2> {{date | date }} </h2>

<h2> {{date | date : 'shortDate' }} </h2>
<h2> {{date | date : 'dd-MM-yyyy' }} </h2>
<h2>  {{date| date: 'dd'}} </h2>
<h2> {{date| date: 'yyyy'}} </h2>
<h2> {{date| date: 'MM'}} </h2>

<!-- chaining of pipe -->
<h2>{{date | date:'longDate' | uppercase }} </h2>

