
<h1>Parent Component</h1>

<!-- <h2> {{parentobj1.course}} </h2>
<h2> {{parentobj1.duration}} </h2>
<h2> {{parentobj1.fee}} </h2> -->

<!-- <h2> {{parentmessage}} </h2> -->

<!-- <app-childcomp [parentdata]="msg"></app-childcomp> -->

<!-- <app-childcomp [parentdata]="msg" [parentdata1]="parentobj"></app-childcomp> -->

<!-- <app-childcomp [parentArrobj]="arrobj"></app-childcomp> -->

<!-- <app-childtoparent (childdata)="parentmessage=$event"></app-childtoparent> -->
<!-- <app-childtoparent (childata1)="parentobj1=$event"></app-childtoparent>


<h2> {{parentmessage}} </h2> -->

<app-multilevel-parent></app-multilevel-parent>