
<h1>
    Hopes Som U Are Enjoying My Lecture in Sleeply Mode
</h1>
{{name}} <br>
{{name.toUpperCase()}} <br>
{{name.length}} <br>

{{"Return value From String "+getname()}}
<br>
{{'2*2'}}
<br>
{{2*2}}
<br>

<!-- property binding -->

<br><br>
<hr>
<h1>Property Binding</h1>

<input type="text" [value]="Fullname" > <br>
<input type="text" [placeholder]="placeholder">
<br><br>
<img [src]="imgurl" alt="">
<br><br>
<input type="text" value=" {{name}} ">
<br><br>
<input [type]="mytype">
<br><br>
<input [type]="mytype1">
<br><br><br>
<button [disabled]='isdissabled'>Hi Use Of Property Binding</button>
<br><br>

<button disabled='{{isdissabled1}} '>String Interpolation</button>
<br><br><br>

<div [hidden]='ishidden'>Hi This is [Property Binding Demo]</div>
<br><br><br>
<div [hidden]='ishidden1'>{{mttxt}} </div>









